**/*.rs.bk
siliconvm/.idea
siliconvm/.idea/misc.xml
siliconvm/.idea/workspace.xml
siliconvm/Silicon.iml
siliconvm/.idea/misc.xml
siliconvm/.idea/workspace.xml
siliconvm/target/
SiliconBootstrap/.gradle/
SiliconBootstrap/gradle/
SiliconBootstrap/.idea/